/* .navStartStyle {
  margin-left: 20px;
  padding: 0px;
}

.navEndStyle {
  margin-right: 50px;
  padding: 0px;
}

.linkStyle {
  color: red;
}

.root {
  margin: 80px;
  padding: 20px;
}

.label {
  margin-top: 15px;
}
 */

.columns {
  padding: 150px 0 30px 0;
}

.text {
  margin-left: 8px;
}

.link {
  margin-left: 90px;
}

.footerText {
  margin-top: 10px;
}

.linkText {
  margin-left: 10px;
}
.btn {
  margin-top: 50px;
  margin-bottom: 15px;
}

.card-header-title {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 20px;
}

.modal-background {
  padding-top: 100px;
}

.modal-card-title {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.btn-remove {
  margin-left: 90px;
}

.container {
  display: flex;
  align-content: center;
  text-align: justify;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.navbar-end {
  background-color: none;
}

.field-control {
  padding-top: 10px;
  margin-right: 5px;
}
