/* .navStartStyle {
  margin-left: 20px;
  padding: 0px;
}

.navEndStyle {
  margin-right: 50px;
  padding: 0px;
}

.linkStyle {
  color: red;
}

.root {
  margin: 80px;
  padding: 20px;
}

.label {
  margin-top: 15px;
}
 */

.columns {
  padding: 50px 0 50px 0;
}
