/* .navStartStyle {
  margin-left: 20px;
  padding: 0px;
}

.navEndStyle {
  margin-right: 50px;
  padding: 0px;
}

.linkStyle {
  color: red;
}

.root {
  margin: 80px;
  padding: 20px;
}

.label {
  margin-top: 15px;
}
 */

.columns {
  padding: 80px 0 50px 0;
}

.text {
  margin-left: 8px;
}

.link {
  margin-left: 60px;
}

.btn {
  margin-top: 50px;
  margin-bottom: 15px;
  background-color: red;
}

.card-header-title {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 20px;
}
